.body{
    background-color:coral ;
}
.b{
    width: 5%;
}
.navbar{
display: flex;
justify-content: space-between;
list-style: none;
margin-left: 0%;
background-color: rgb(248, 106, 4);
border-radius: 20px;
padding: 20px;
}
.sweet{
    text-align: center;
    font-weight: lighter;
}
.logo{
    width: 2%;
}
.container{
    display: flex;
    justify-content: space-between;
    
}
.intro{
    background-color: yellow;
    color: black;
    width: 50%;
    text-align: center;
}
.goods{
    display: flex;
    justify-content: space-between;
}
.wedding{
    display: grid;
    justify-content: space-between;
    padding: 20px;
    margin: 20%
}
.cak{
    width: 50%;

}
.wedd{

    width: 30%;
}
.wed2{
     width: 30%;
}
.kek{
    width: 30%;
}
.local{
    display: flex;
    justify-content: space-between;
}
.menu {
    text-align:center ;
}
.design{
text-align: center;
}
.wed{
    text-align: center;
    /* margin-bottom: 20px; */
    /* padding-left:10% ; */
    justify-content: space-between;
}
.wedding{
    display: flex;
    justify-content: space-between;
}
.culture{
    display: flex;
    justify-content: space-between;
    background-color:cornflowerblue;   
}
.bday{
    display: flex;
    justify-content: space-between;
}
.bcake{
    text-align: center;
    display: flex;
}
.cul{
    width: 30%;
}
.trad{
    width:30%;
}
.culc{
    width: 20%;
}
.culk{
    width: 20%;
}
.sofia{
    width:30%;
}
.elsa{
    width:30%;
}
.kek{
    width:30%;
}